/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img_book{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.mainnn {
  max-width: 90%;
  overflow-x: scroll;
  padding-top: 80px;
}

.mainnn::-webkit-scrollbar {
  display: none;
}
li{
  list-style: none;
}

.like{
  color: orangered;
}
.section{
  font-family: cursive;
  background-color: #fffaf5;
}
.main{
  display: flex;
  justify-content: space-between;
}

.navbar{
  color: rgb(76,41, 0) ;
}
.option{
  /* background: linear-gradient(to top,green,rgba(255, 0, 0, 0.765),white,red, rgb(0, 187, 255)); */
  background: linear-gradient(to top,white,rgb(225,106,0));
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.bg_img{
  background-image: url("https://www.linkpicture.com/q/image-1_186.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
  margin-left: 400px;
  width: 800px;
}
.bg-color{
  background-color: rgba(76, 41, 0, 0.829);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin: 0px -490px;
}
.bg_imgg{
  background-image: url("https://www.linkpicture.com/q/image-1_186.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
}
.inp{
  position: relative;
}
.button{
  background: linear-gradient(to top,white,orange);
  position: absolute;
  margin-left: 1200px;
}

.hover{
  transition: all ease-in-out .1s;
}
.hover:hover{
  border-bottom: 3px solid orangered;
  padding-bottom: 20px;
  padding-top: 2px
}

.hover1{
  transition: all ease-in-out .1s;
}
.hover1:hover{
  border-bottom: 3px solid grey;
  padding-bottom: 20px;
  padding-top: 2px
}

.btn1{
  transition: all ease-in-out .1s;
}
.btn1:hover{
  background-color: green;
}
