* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  font-family: cursive;
  background-color: #fffaf5;
}
.main {
  display: flex;
  justify-content: space-between;
}

.option {
  /* background: linear-gradient(to top,green,rgba(255, 0, 0, 0.765),white,red, rgb(0, 187, 255)); */
  background: linear-gradient(to top, white, rgb(225, 106, 0));
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}

.inp {
  position: relative;
}
.button {
  background: linear-gradient(to top, white, orange);
  position: absolute;
  margin-left: 1200px;
}

.hover {
  transition: all ease-in-out 0.1s;
}
.hover:hover {
  border-bottom: 3px solid orangered;
  padding-bottom: 20px;
  padding-top: 2px;
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 10px 10px white;
  transition: 500ms;
  z-index: 1;
  color: orangered;
}
.btn_signin {
  background-color: white;
  border-radius: 10px;
  margin-left: 50px;
  border: 1px solid rgb(225, 106, 0);
  color: rgb(225, 106, 0);
  transition: 0.5s;
}
.btn_signin:hover {
  color: white;
  background-color: rgb(225, 106, 0);
  transition: 0.5s;
}

a{
  text-decoration: none;
}
